body, html {
  margin: 0;
}

body {
  height: 100vh;
  overflow: auto;
}

button {
  background: transparent;
  border: none;
}

#button{
  padding-left: 4vw;
  padding-right: 4vw;
}

.button-compose {
  font-size: 1vw;
}

.higlight {
  font-size: medium;
}

.higlight:hover {
  background-color: whitesmoke !important;
  border-radius: 3px;
  box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.35);
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.35);
}

input {
  border: none;
  height: 3vh;
  outline: none;
  width: 15vw;
}

#left-col {
  background-color: rgb(22, 54, 43);
  height: 100vh;
}

.link-control {
  display: flex;
  justify-content: flex-start;
  border: none;
  color: white;
  font-size: larger;
  padding: 10px;
  text-decoration: none;
}

.link-control:hover {
  color: white;
  font-weight: 700;
}

.message-box {
  background: white;
  border: solid 2px rgb(218, 212, 212);
  border-radius: 2px;
  margin: 5em 3em 5em 3em ;
}

#middle-col {
  background-color: rgb(235, 235, 235);
  height: 100vh;
}

#right-col {
  background-color: white;
  height: 100vh;
}

.right-float{
  float: right;
}

.search-box {
  background: white;
  border-radius: 5px;
  margin-top: 30px;
  width: 22vw;
}

.search-box:hover {
  -webkit-box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.35);
  box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.35);
}

.small-screen {
  font-size: 1vw;
}

textarea {
  border: none !important;
}

.title-font-size {
  font-size: 2vw;
}

@media (max-width: 575px) {
  .button-compose {
    font-size: 2vw;
    padding-left: 5em !important;
    padding-right: 5em !important;
  }

  input {
    height: 2vh;
  }

  #left-col {
    height: 100%;
  }

  .left-column-margin {
    margin-left: 5em ;
  }

  #middle-col {
    height: 100%;
  }

  #right-col {
    height: 100%;
  }

  .search-box {
    height: 2vh;
    width: 52vw;
  }

  .small-screen {
    font-size: 2vw;
  }
}
