body, html {
  margin: 0;
}

body {
  height: 100vh;
  overflow: auto;
  background-color: lightgrey;
}

.container-fluid {
  width: 100vw;
  height: 100vh;
}

#left-col {
  background-color: rgb(28, 94, 66);
 
  height: 100vh;
}

#middle-col {
  background-color: rgb(235, 235, 235);
  height: 100vh;
}

#right-col {
  background-color: white;
  height: 100vh;
  
}

#button{
  padding-left: 3em;
  padding-right: 3em;
}

.link {
  display: flex;
  justify-content: flex-start;
  color: white;
  text-decoration: none;
  font-size: larger;
  border: none;
  margin-top: 2px !important;
}

.link:hover {
  color: white;
  font-weight: 700;
}

.higlight {
  font-size: medium;
}


.higlight:hover {
  background-color: whitesmoke !important;
  -webkit-box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.35);
  box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.35);
  cursor: pointer;
  border-radius: 3px;
  
}

.date-time{
  float: right;
  font-size: 12px;
}

.search-box {
  margin-top: 30px;
  background: white;
  border-radius: 2px;
}

.search-box:hover {
  -webkit-box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.35);
  box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.35);
}

form {
  margin: 0;
}

input {
  border: none;
  outline: none;
 
}

button {
  background: transparent;
  border: none;
}
.message-box {
  margin-top: 160px !important;
  margin-left: 3em;
  margin-right: 3em;
  border: solid 2px rgb(218, 212, 212);
  margin-top: 30px;
  background: white;
  border-radius: 2px;
}

textarea {
  border: none !important;

  
}
