body {
  height: 100vh;
  overflow: auto;
  background-color: lightgrey;
}

#left-col {
  background-color: rgb(28, 94, 66);
  height: 100vh;
}

#middle-col {
  background-color: rgb(235, 235, 235);
  height: 100vh;
}

#right-col {
  background-color: white;
  height: 100vh;
}

#button{
  padding-left: 3em;
  padding-right: 3em;
}

.link {
  display: flex;
  justify-content: flex-start;
  color: white;
  text-decoration: none;
  border: none;
  margin-top: 2px !important;
}

.link:hover {
  color: white;
  font-weight: 700;
}

.card1{
  color: rgb(77, 56, 29);
  font-size: 12px;
  margin-top: 2em;
  padding: 1em;
}

.card1:hover {
  background-color: whitesmoke;
  -webkit-box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.35);
  box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.35);
  cursor: pointer;
  border-radius: 3%;
}

.date-time{
  float: right;
  font-size: 12px;
  padding-left: 5px;
}
.search {
border: 0;
}

