body, html {
  margin: 0;
}

body {
  height: 100vh;
  overflow: auto;
 
}


#left-col {
  background-color: rgb(24, 61, 46);
  height: 100vh;
}

.small-screen {
  font-size: 1vw;
}

.button-compose {
  font-size: 1vw;
}

#middle-col {
  background-color: rgb(235, 235, 235);
  height: 100vh;
}


#right-col {
  background-color: white;
  height: 100vh;
}

.title-font-size {
  font-size: 2vw;
}

#button{
  padding-left: 4vw;
  padding-right: 4vw;
}

.link {
  display: flex;
  justify-content: flex-start;
  color: white;
  text-decoration: none;
  font-size: larger;
  border: none;
  margin-top: 2px !important;
}

.link:hover {
  color: white;
  font-weight: 700;
}

.higlight {
  font-size: medium;
}


.higlight:hover {
  background-color: whitesmoke !important;
  -webkit-box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.35);
  box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.35);
  cursor: pointer;
  border-radius: 3px;
  
}

.date-time{
  float: right;
}

.search-box {
  width: 22vw;
  margin-top: 30px;
  background: white;
  border-radius: 1em;
  
}

.search-box:hover {
  -webkit-box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.35);
  box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.35);
}

form {
  margin: 0;
}

input {
  border: none;
  outline: none;
  width: 15vw;
  height: 3vh;
 
}

button {
  background: transparent;
  border: none;
}

.message-box {
  margin-top: 160px !important;
  margin-left: 3em;
  margin-right: 3em;
  border: solid 2px rgb(218, 212, 212);
  margin-top: 30px;
  background: white;
  border-radius: 2px;
}

textarea {
  border: none !important;
}

@media (max-width: 575px) {
  #left-col {
    height: 50%;
  }

  #middle-col {
    height: 100%;
  }

  #right-col {
    height: 100%;
  }

  .small-screen {
    font-size: 2vw;
  }

  .button-compose {
    font-size: 2vw;
    padding-left: 5em !important;
    padding-right: 5em !important;
  }

  .left-column-margin {
    margin-left: 5em ;
  }

  .search-box {
    width: 52vw;
    height: 2vh;
  }

  input {
    height: 2vh;
  }
}
